<div class="container">
<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-striped">

    <h2>
      <% if params[:year] && params[:month] %>
        <%= "#{params[:year]}年#{params[:month]}月" %>
      <% else %>
        <%= Date.today.strftime('%Y年%m月') %>
      <% end %>
    </h2>

    <thead>
      <tr>
        <th class="fs-3 py-3"><%= Settings.label.shop %></th>
        <th class="fs-3 py-3"><%= Settings.label.kind %></th>
        <th class="fs-3 py-3"><%= Settings.label.price %></th>
        <th class="fs-3 py-3"><%= Settings.label.purchased_at %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="fs-3 py-3"><%= product.shop %></td>
          <td class="fs-3 py-3"><%= product.kind %></td>
          <td class="fs-3 py-3"><%= product.price %></td>
          <td class="fs-3 py-3"><%= product.purchased_at.to_date.day %></td>
          <td class="fs-3 py-3"><%= link_to '', edit_product_path(product), class: 'fas fa-edit' %></td>
          <td class="fs-3 py-3"><%= link_to '', product, method: :delete, data: { confirm: '削除しても良いですか？' }, class: 'fas fa-trash' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="row">
  <div class="mb-3">
    <%= select_tag 'year', options_for_select((2010..DateTime.now.year).reverse_each, selected: @now_year), class: 'form-select' %>
  </div>
  <div class="mb-3">
    <%= select_tag 'month', options_for_select(1..12, selected: @now_month), class: 'form-select' %>
  </div>
  <div class="text-end">
    <%= link_to '', new_product_path, class: 'btn btn-primary text-white btn-lg fas fa-plus' %>
  </div>
  <div class="text-end">
    <%= link_to '移動', products_path(month: @now_month, year: @now_year), class: 'btn btn-success text-white', id: 'move-btn', style: 'display:none;' %>
  </div>
</div>

<script>
  // クエリパラメータ抜きのURL
  var nonParamsUrl = window.location.href.substr(0, window.location.href.indexOf('?'));

  // 年のプルダウン
  var yearPulldown = document.getElementById('year');

  // 月のプルダウン
  var monthPulldown = document.getElementById('month');

  // プルダウンの値を元に移動ボタンのリンクを変える
  function refreshMoveLink(){
    let selectedYear = document.getElementById('year').value
    let selectedMonth = document.getElementById('month').value
    document.getElementById('move-btn').href = `${nonParamsUrl}?month=${selectedMonth}&year=${selectedYear}`
    document.getElementById('move-btn').click()
  }

  // 年か月を選択したときにリンクを変える関数を発火
  yearPulldown.addEventListener('change',refreshMoveLink,false)
  monthPulldown.addEventListener('change',refreshMoveLink,false)
</script>